<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/FitTick/public/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="bg">
        <img id="background" src="/FitTick/public/pictures/loginBg1.jpg">

        <div id="theme">
            <div id="dlogo">
                <img id="logo" src="/FitTick/public/pictures/logo.png">
             </div>
            <div id="dslogan">
                <img id="solgan" src="/FitTick/public/pictures/slogan.png">
            </div>
        </div>

        <div id="log">

            <div id="dprofile">
                <img id="profile" src="/FitTick/public/pictures/profile_icon.png">
            </div>
            <input id="name" name="username" placeholder="   用户名" type="text">

            <div id="dlock">
                <img id="lock" src="/FitTick/public/pictures/lock_icon.png">
            </div>
            <input id="password" name="password" placeholder="   密码" value="" type="password">


        </div>
    </div>
</body>
</html>